body{
  font-size: roboto;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right,#0087af, #87875f);
}


.epikefalida {
  position: sticky;
  top: 0;

}
.times {
  margin-bottom: 70px;

}
.desfa{
  display: flex;

}

td{
    text-align: center;
    border: 1px solid #333;
    border-radius: 4px;
    padding :0.5rem;
    margin: 0.5rem;
    width: 180px;
}

 .times td:hover{
  color: #222;

  text-shadow: 0 0 2px yellow;
	font-weight: bold;
  transform: scale(1.2);
  border:none;
}
.epikefalida tr:nth-child(1)  {

        background: olive !important;
        color: #fff !important;
        font-size: 15px !important;
        font-weight: bold;
        height: 30px;
        border: 1px solid #999;
        border-radius: 4px;

    }

.times tr:nth-child(1)  {
        display: none;
        background: olive !important;
        color: #fff !important;
        font-size: 15px !important;
        font-weight: bold;
        height: 20px;
        border: 1px solid #999;
        border-radius: 4px;
        margin-right:inherit;
    }

tr:nth-child(even){
      background: lightskyblue;
    }
tr:nth-child(odd){
      /*color: white;*/
      background: DarkSeaGreen;
    }
